# Arquivos compilados
bin/
build/
*.o
*.exe

# Binários de teste
tests/test_cpu
tests/test_memory
tests/test_io

# Arquivos temporários
*.tmp
*.swp
*.log

# Resultados de experimentos (opcional - pode commitar como exemplo)
# *.csv
# *.txt
venv/
experimento*.csv
experimento*.png
experimento*.txt
